{% extends 'layout.html' %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="row">
{% if brand %}
    {% for item in brand.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <a href="{{url_for('single_page', id=item.id)}}">
                    <img src="{{url_for('static', filename='images/' + item.image_1)}}"
                         alt="{{item.name}}" class="card-img-top" style="object-fit: scale-down;
                         padding: 20px" height="250px">
                </a>
                <div class="card-body text-center">
                    <div style="height: 50px; display: flex; align-items: center">
                        <h5>{{item.name}}</h5>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-8">
                        {% if item.discount > 0 %}
                            <s style="position: absolute; top: -16px">{{item.price}} Р</s>
                        {% endif %}
                            {% set discount = "%0.2f"|format((item.discount/100) * item.price|float) %}
                            {% set subtotal = item.price|float %}
                            <h5 style="margin: 0">{{ "%0.2f"|format((subtotal|float) - discount|float) }} Р</h5>
                        </div>
                        <div class="col-md-4">
                            <form action="{{url_for('AddCart')}}" method="POST">
                                <button type="submit" class="btn btn-info float-right"
                                        style="width: 38px; height: 38px; border-radius: 19px; text-align: center;
                                        padding: 0; font-size: 16px;">
                                    <img src="{{url_for('static',filename='images/ic_cart.svg')}}"
                                         width="20px" alt="">
                                </button>
                                <input type="hidden" name="product_id" value="{{item.id}}">
                                <input type="hidden" name="quantity" value="1" min="1" max="{{item.stock}}">
                                {% set colors = item.color.split(',') %}
                                <select name="colors" id="colors" style="display: none;">
                                {% for color in colors %}
                                    {% set col = color.split(':') %}
                                    <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            {% if brand.has_prev %}
                <a href="{{url_for('get_brand', id=get_brand.id, page=brand.prev_num)}}" class="btn btn-sm btn-outline-info mt-3">
                    <-
                </a>
            {% endif %}
            {% if brand.total>8 %}
                {% for page_num in brand.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if brand.page == page_num %}
                            <a href="{{url_for('get_brand', id=get_brand.id, page=page_num)}}" class="btn btn-sm btn-info mt-3">
                                {{ page_num }}
                            </a>
                        {% else %}
                            <a href="{{url_for('get_brand', id=get_brand.id, page=page_num)}}" class="btn btn-sm btn-outline-info mt-3">
                                {{ page_num }}
                            </a>
                        {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if brand.has_next %}
                <a href="{{url_for('get_brand', id=get_brand.id, page=brand.next_num)}}" class="btn btn-sm btn-outline-info mt-3">
                    ->
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
{% elif category %}
    {% for item in category.items %}
        <div class="col-md-3 mt-3">
            <div class="card">
                <a href="{{url_for('single_page', id=item.id)}}">
                    <img src="{{url_for('static', filename='images/' + item.image_1)}}"
                         alt="{{item.name}}" class="card-img-top" style="object-fit: scale-down;
                         padding: 20px" height="250px">
                </a>
                <div class="card-body text-center">
                    <div style="height: 50px; display: flex; align-items: center">
                        <h5>{{item.name}}</h5>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-8">
                        {% if item.discount > 0 %}
                            <s style="position: absolute; top: -16px">{{item.price}} Р</s>
                        {% endif %}
                            {% set discount = "%0.2f"|format((item.discount/100) * item.price|float) %}
                            {% set subtotal = item.price|float %}
                            <h5 style="margin: 0">{{ "%0.2f"|format((subtotal|float) - discount|float) }} Р</h5>
                        </div>
                        <div class="col-md-4">
                            <form action="{{url_for('AddCart')}}" method="POST">
                                <button type="submit" class="btn btn-info float-right"
                                        style="width: 38px; height: 38px; border-radius: 19px; text-align: center;
                                        padding: 0; font-size: 16px;">
                                    <img src="{{url_for('static',filename='images/ic_cart.svg')}}"
                                         width="20px" alt="">
                                </button>
                                <input type="hidden" name="product_id" value="{{item.id}}">
                                <input type="hidden" name="quantity" value="1" min="1" max="{{item.stock}}">
                                {% set colors = item.color.split(',') %}
                                <select name="colors" id="colors" style="display: none;">
                                {% for color in colors %}
                                    {% set col = color.split(':') %}
                                    <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                {% endfor %}
                                </select>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row">
        <div class="col text-center">
            {% if category.has_prev %}
                <a href="{{url_for('get_category', id=get_category.id, page=category.prev_num)}}" class="btn btn-sm btn-outline-info mt-3">
                    <-
                </a>
            {% endif %}
            {% if category.total>8 %}
                {% for page_num in category.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if category.page == page_num %}
                            <a href="{{url_for('get_category', id=get_category.id, page=page_num)}}" class="btn btn-sm btn-info mt-3">
                                {{ page_num }}
                            </a>
                        {% else %}
                            <a href="{{url_for('get_category', id=get_category.id, page=page_num)}}" class="btn btn-sm btn-outline-info mt-3">
                                {{ page_num }}
                            </a>
                        {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if category.has_next %}
                <a href="{{url_for('get_category', id=get_category.id, page=category.next_num)}}" class="btn btn-sm btn-outline-info mt-3">
                    ->
                </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        {% else %}
            {% for product in products.items %}
                <div class="col-md-3 mt-3">
                    <div class="card">
                        <a href="{{url_for('single_page', id=product.id)}}">
                            <img src="{{url_for('static', filename='images/' + product.image_1)}}"
                                 alt="{{product.name}}" class="card-img-top" style="object-fit: scale-down;
                                 padding: 20px" height="250px">
                        </a>
                        <div class="card-body text-center">
                            <div style="height: 50px; display: flex; align-items: center">
                                <h5>{{product.name}}</h5>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row" style="display: flex; align-items: center">
                                <div class="col-md-8">
                                {% if product.discount > 0 %}
                                    <s style="position: absolute; top: -16px">{{product.price}} Р</s>
                                {% endif %}
                                    {% set discount = "%0.2f"|format((product.discount/100) * product.price|float) %}
                                    {% set subtotal = product.price|float %}
                                    <h5 style="margin: 0">{{ "%0.2f"|format((subtotal|float) - discount|float) }} Р</h5>
                                </div>
                                <div class="col-md-4">
                                    <form action="{{url_for('AddCart')}}" method="POST">
                                        <button type="submit" class="btn btn-info float-right"
                                                style="width: 38px; height: 38px; border-radius: 19px; text-align: center;
                                                padding: 0; font-size: 16px;">
                                            <img src="{{url_for('static',filename='images/ic_cart.svg')}}"
                                                 width="20px" alt="">
                                        </button>
                                        <input type="hidden" name="product_id" value="{{product.id}}">
                                        <input type="hidden" name="quantity" value="1" min="1" max="{{product.stock}}">
                                        {% set colors = product.color.split(',') %}
                                        <select name="colors" id="colors" style="display: none;">
                                        {% for color in colors %}
                                            {% set col = color.split(':') %}
                                            <option value="{{col[0]}}">{{col[0] | capitalize }}</option>
                                        {% endfor %}
                                        </select>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
    </div>
    <div class="row mb-3">
        <div class="col text-center">
            {% if products.has_prev %}
                <a href="{{url_for('home', page=products.prev_num)}}" class="btn btn-sm btn-outline-info mt-3">
                    <-
                </a>
            {% endif %}
                {% if products.total>8 %}
                {% for page_num in products.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
                    {% if page_num %}
                        {% if products.page == page_num %}
                            <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-info mt-3">
                                {{ page_num }}
                            </a>
                        {% else %}
                            <a href="{{url_for('home', page=page_num)}}" class="btn btn-sm btn-outline-info mt-3">
                                {{ page_num }}
                            </a>
                        {% endif %}
                    {% else %}
                    ...
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if products.has_next %}
                <a href="{{url_for('home', page=products.next_num)}}" class="btn btn-sm btn-outline-info mt-3">
                    ->
                </a>
            {% endif %}
        </div>
    </div>
        {% endif %}
</div>
{% endblock content %}