{% extends "layout.html" %}
{% block content %}
{% include 'admin_navbar.html' %}
<div class="container mt-3">
    {% include "_messages.html" %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% if updatebrand %}
                <form action="" method="POST">
                    <h1 class="text-center">Изменить бренд</h1>
                    <input type="text" name="brand" class="form-control" value="{{updatebrand.name}}">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <input type="submit" value="Да" class="btn btn-info float-right">
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-warning" href="{{url_for('brands')}}">Нет</a>
                        </div>
                    </div>
                </form>
            {% else %}
                <form action="" method="POST">
                    <h1 class="text-center">Изменить категорию</h1>
                    <input type="text" name="category" class="form-control" value="{{updatecategory.name}}">
                    <div class="row mt-2">
                        <div class="col-md-6">
                            <input type="submit" value="Да" class="btn btn-info float-right">
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-warning" href="{{url_for('categories')}}">Нет</a>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}