<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title>PDF</title>
    </head>
    <body>
        <div class="container mt-3">
            {% include '_messages.html' %}
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-4">
                    <b>Информация о покупателе::</b>
                    <p style="margin: 0">Имя: {{customer.name}}</p>
                    <p style="margin: 0">Электронный адрес: {{customer.email}}</p>
                    <p style="margin: 0">Контакты: {{customer.contact}}</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <b>Информация о заказе:</b>
                    <p style="margin: 0">Номер: {{orders.invoice}}</p>
                    <p style="margin: 0">Статус: {{orders.status}}</p>
                </div>
                <div class="col-md-1"></div>
            </div>
            <table class="table table-sm table-striped table-hover mt-3">
                <thead>
                    <th>№</th>
                    <th>Название</th>
                    <th>Цвет</th>
                    <th>Цена</th>
                    <th>Количество</th>
                    <th>Скидка</th>
                    <th>Итог</th>
                </thead>
                <tbody>
                {% for key, product in orders.orders.items() %}
                    {% set discount = "%0.2f"|format((product.discount/100) * product.price|float) %}
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{product.name}}</td>
                        <td>{{product.color|capitalize}}</td>
                        <td>{{"%.2f"|format(product.price)}}</td>
                        <td>{{product.quantity}}</td>
                        {% set discount = "%0.2f"|format((product.discount/100) * product.price|float) %}
                    {% if product.discount > 0 %}
                        <td>{{discount}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                        {% set subtotal = product.quantity|int * product.price|float %}
                        <td>{{ "%0.2f"|format((subtotal|float) - discount|float) }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3" style="display: flex; align-items: center; justify-content: center">
                    <p style="margin: 0">Налог: {{tax}} Р</p>
                </div>
                <div class="col-md-3" style="display: flex; align-items: center; justify-content: center">
                    <p style="margin: 0;">Всего: {{grand_total}} Р</p>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>