{% extends 'layout.html' %}
{% block content %}
{% include 'admin_navbar.html' %}
<div class="container mt-3">
    {% include '_messages.html' %}
    <table class="table table-sm table-striped table-hover">
        <thead>
            <th>№</th>
            <th></th>
            <th>Название</th>
            <th>Цена</th>
            <th>Скидка</th>
            <th>Бренд</th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td style="vertical-align: middle;">{{loop.index}}</td>
                <td style="text-align: center; vertical-align: middle;">
                    <img src="{{url_for('static',filename='images/' + product.image_1)}}" alt="{{product.name}}"
                         height="30px">
                </td>
                <td style="vertical-align: middle;">{{ product.name }}</td>
                <td style="vertical-align: middle;">{{ product.price }}</td>
                <td style="vertical-align: middle;">
                    {% if product.discount > 0 %} {{ product.discount }}% {% endif %}
                </td>
                <td style="vertical-align: middle;">{{ product.brand.name}}</td>
                <td style="text-align: center; vertical-align: middle;">
                    <a href="{{url_for('updateproduct', id=product.id)}}">
                        <img src="{{url_for('static',filename='images/ic_edit.svg')}}" height="20px" alt="">
                    </a>
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    <a type="button" data-toggle="modal"
                            data-target="#exampleModal-{{product.id}}">
                        <img src="{{url_for('static',filename='images/ic_delete.svg')}}" height="20px" alt="">
                    </a>
                </td>
            </tr>
            <div class="modal fade" id="exampleModal-{{product.id}}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{ product.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p class="text-danger">Вы собираетесь удалить бренд "{{ product.name }}"</p>
                        </div>
                        <div class="modal-footer">
                            <form action="{{url_for('deleteproduct',id=product.id)}}" method="post">
                                <button type="submit" class="btn btn-danger">Да</button>
                            </form>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}